body {
  font-family: Arial;
  margin-top: 150px;
}

a {
  color: black;
}

a .fa-external-link-alt {
  color: #444;
  margin-left: 5px;
}

h4 {
  margin-bottom: 0;
}

.td-center {
  text-align: center;
}

.odd td, .even td{
  border-bottom: 1px solid black;
}

tr:last-child td {
  border: 0;
}

#header {
  top: 0;
  left: 0;
  position: fixed;
  height: 90px;
  z-index: 800;
  background: white;
  width: 100%;
}

#header img {
  width: 60px;
  height: 60px;
  float: left;
  margin: 10px;
}

h1 {
  margin: 10px 0 0 10px;
}

h3 {
  margin: 0 0 11px 0;
}

h3 a {
  color: #004887;
}

#results_filter {
  position: fixed;
  top: 94px;
  right: 10px;
  color: white;
  z-index: 999;
}

#filters {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  z-index: 999;
  width: 100%;
  background: black;
  color: white;
}

#filtersButton {
  border: 1px solid white;
  border-radius: 3px;
  width: 85px;
  padding: 3px 10px;
}

#filtersButton:hover {
  background: white;
  color: black;
  cursor: pointer;
}

#filtersCheckboxes {
  padding-top: 12px;
}

#spinner {
  text-align: center;
  font-size: 5em;
  color: #ffcd00;
}

#filterHelpers {
  font-size: 0.9em;
  padding: 5px 0;
}

#filterHelpers a {
  color: white;
}

form > div{
  display: block;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.emphasis {
  font-weight: bold;
  font-size: 1.07em;
}

select {
  width: 150px;
  margin-left: 10px;
}
